.info{
    display: flex;
    max-width: 60%;
    position: relative;
    height: 200px;
    gap: 15px;
    flex-wrap: nowrap;
    justify-content: center;
}

.info img{
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    overflow: hidden;
}