html, body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    position: relative;
    
}
ul{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: rgb(66, 69, 255);
    position: fixed;
    z-index: 1;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}

.container li a{
    display: block;
    padding: 20px 15px;
}
 .list li a:hover{
	text-decoration: underline;
} 

.logo{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}


.section_banner {
	background-image: url("../public/white-label-banner.webp");
	height: 300px;
	border-radius: 15px;
	padding: 50px;
	color:#fff;
	width: 80%;
	object-fit: cover;
}

.banner_title {
	font-size: 35px;
}

.banner_description {
	font-size: 20px;
}

.banner_button {	
	border-radius: 10px;
	background-color: rgb(110, 21, 192);
	color: #fff;
	padding: 15px 20px;
	width: 300px;

}